.Carousel {
  position: relative;
  margin-top: 5rem;
  overflow: hidden;
}
.Carousel__Images {
  display: flex;
  flex-direction: row;
  position: relative;
  transition: 0.5s;
}

.Carousel__Images img {
  width: 600px;
  user-select: none;
}

.Carousel__ArrowIcon {
  position: absolute;
  z-index: 1;
  font-size: 2rem;
  top: 50%;
  opacity: 0.6;
  color: white;
  cursor: pointer;
}

.Carousel__ArrowIcon-Left {
  left: 1rem;
}

.Carousel__ArrowIcon-Right {
  right: 1rem;
}
