.Carousel {
  margin-top: 5rem;
  overflow: hidden;
}
.Carousel__Images {
  display: flex;
  flex-direction: row;
  position: relative;
  transition: 0.5s;
  width: 600px;
}

.Carousel__Images img {
  width: 600px;
}
